# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Debug/Checkers.87392FEC.tlog/cl.command.1.tlog
*.tlog
Debug/Checkers.87392FEC.tlog/CL.read.1.tlog
*.tlog
Debug/Checkers.87392FEC.tlog/link.read.1.tlog
*.log
Debug/Checkers.87392FEC.tlog/link.read.1.tlog
Debug/Checkers.87392FEC.tlog/cl.command.1.tlog
*.tlog
Debug/Checkers.obj
*.log
*.idb
Debug/vc120.pdb
Debug/Position.obj
*.obj
Debug/vc120.idb
*.obj
*.tlog
Debug/Checkers.obj
*.obj
Debug/Queue.obj
*.obj
Debug/DefeatedMarker.obj
*.log
Debug/DefeatedMarker.obj
*.pdb
Debug/Move.obj
*.obj
Debug/ListNode.obj
*.tlog
Debug/Checkers.87392FEC.tlog/link.command.1.tlog
